<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<style>
    .navigation {
      background-color: #008ed7;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  
    .navigation ul {
      margin: 0;
      padding: 0;
    }
  
    .navigation ul li {
      list-style: none;
      float: left;
      padding: 10px;
    }
  
    .navigation ul li a {
      text-decoration: none;
      color: white;
    }
  </style>
  <div style="height: 30px;"></div>
  <div class="navigation">
    <ul>
      <li><a href="#">首页</a></li>
      <li><a href="#">欢迎回来：{{ msg }}</a></li>
      <li><a href="#">退出</a></li>
    </ul>
  </div>
    <iframe scrolling="no" frameborder="0" src="https://ai-.cpolar.top" style="height:600px; width:100%; " onload="this.style.height=this.contentWindow.document.body.scrollHeight + 'px';"></iframe>
</body>
</html>