<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>AI深度学习登录</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="content">
        <form action="/admin_login" method="post">
            <div class="form sign-in">
                <h2>欢迎回来</h2>
                <label>
                    <span>账户</span>
                    <input type="text" name="user" />
                </label>
                <label>
                    <span>密码</span>
                    <input type="password"  name="pwd" />
                </label>
                <button type="submit" class="submit">登 录</button>
            </div>
        </form>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>深度学习</h2>
                    <p>让问题更轻松，生活更方便</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
	
	<div style="text-align:center;">
      
</div>
</body>

</html>